<mat-toolbar class="youtube-header">
    <mat-toolbar-row>
        <!-- LOGO -->
        <span class="youtube-logo" routerLink="/" title="Home">
      YouTube
    </span>

        <span class="example-spacer"></span>

        <!-- UPLOAD VIDEO -->
        <button
                mat-icon-button
                routerLink="/upload-video"
                aria-label="Upload video"
        >
            <mat-icon>video_call</mat-icon>
        </button>
        <button *ngIf="isAuthenticated; else noAuth"
                [matMenuTriggerFor]="menu"
                mat-icon-button class="example-icon"
                aria-label="Example icon-button with share icon">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logOff()">Logout</button>
        </mat-menu>
        <ng-template #noAuth>
            <button mat-raised-button (click)="login()">Login</button>
        </ng-template>
    </mat-toolbar-row>
</mat-toolbar>
