<mat-toolbar class="youtube-header">
    <mat-toolbar-row>
        <!-- LOGO -->
        <span class="youtube-logo" routerLink="/" title="Home">
      YouTube
    </span>

        <span class="example-spacer"></span>

        <!-- UPLOAD VIDEO -->
        <button
                mat-icon-button
                routerLink="/upload-video"
                aria-label="Upload video"
        >
            <mat-icon>video_call</mat-icon>
        </button>

        <!-- ACCOUNT -->
        <button
                *ngIf="isAuthenticated; else noAuth"
                mat-icon-button
        >
            <mat-icon>account_circle</mat-icon>
        </button>

        <ng-template #noAuth>
            <button mat-raised-button (click)="login()">Login</button>
        </ng-template>
    </mat-toolbar-row>
</mat-toolbar>
