.example-chip-list {
    width: 100%;
  }


.add-video-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.spacer {
    flex: 1 1 20%;
}

.form-section {
    flex: 1 1 30%;
}

.video-preview {
    flex: 1 1 30%;
}

.form-field {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

input, select, button {
    padding: 8px;
    font-size: 14px;
    margin-top: 5px;
}
