<mat-sidenav mode="side" opened>
    <mat-nav-list>

        <a mat-list-item routerLink="/featured">
            <mat-icon matListItemIcon>home</mat-icon>
            <span matListItemTitle>Home</span>
        </a>

        <a mat-list-item routerLink="/subscriptions">
            <mat-icon matListItemIcon>subscriptions</mat-icon>
            <span matListItemTitle>Subscriptions</span>
        </a>

        <a mat-list-item routerLink="/history">
            <mat-icon matListItemIcon>history</mat-icon>
            <span matListItemTitle>History</span>
        </a>

        <a mat-list-item routerLink="/liked-videos">
            <mat-icon matListItemIcon>thumb_up</mat-icon>
            <span matListItemTitle>Liked Videos</span>
        </a>

    </mat-nav-list>
</mat-sidenav>
