.youtube-player {
    width: 100%;
    max-width: 1280px;
    aspect-ratio: 16 / 9;
    background: #000;
    margin: 0 auto;
}

vg-player,
vg-player video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
